@import "./../../colors.scss";

.nav-container {
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: center;
  align-items: center;

  // spacer
  div:nth-child(2) {
    flex: 1;
  }

  div {
    background-color: $ui-white;
    height: 100%;
    line-height: 56px;
  }

  div:hover {
    color: $ui-white;
    background-color: $ui-black;
  }

  div:nth-child(2):hover,
  div:first-child {
    background-color: $ui-white;
  }
}

@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    div:nth-child(n + 2):nth-child(-n + 5) {
      display: none;
    }
  }
}
