@import "./../../theme.scss";

.nav-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 56px;
  width: 100%;
  background-color: $ui-white;
  border-bottom: 1px solid $ui-black;
}

.nav-inner-container {
  margin: 0 auto;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;

  // spacer
  div:nth-child(2) {
    flex: 1;
  }

  //all divs
  div {
    background-color: $ui-white;
    height: 100%;
    line-height: 56px;
    padding: 0 10px;
  }

  //all divs
  div:hover {
    color: $ui-white;
    background-color: $ui-black;
  }

  //spacer
  div:nth-child(2):hover,
  div:first-child {
    background-color: $ui-white;
    color: $ui-black;
  }
}

//hamburger-button
.hamburger-button {
  display: none;
  font-size: 1.5rem;
}

//mobile and tablet
@media (max-width: 600px) {
  .nav-inner-container {
    flex-direction: column;
    justify-content: normal;
    overflow-y: hidden;

    div {
      width: 100%;
    }
  }
  .hamburger-button {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
