@import "../../theme.scss";

.permit-text-container {
  font-family: $font-family-narrow;
  margin: -50px 5px -10px 5px;

  div > span:first-child {
    font-size: 4rem;
    font-weight: bold;
  }
  @media (max-width: $mobile) {
    div > span:first-child {
      font-size: 3rem;
    }
  }
  div > span:nth-child(2) {
    display: block;
    font-size: 0.9rem;
  }
}
