@import "../../theme.scss";

/* ----- Side panel styles ----- */
.side-panel-container {
  position: absolute;
  top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  //just need to set a max height to get overflow
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  @media (max-width: $mobile) {
    top: 30px;
  }

  /* ----- Outer panel item styles ----- */
  .outer-panel {
    width: 350px;
    transition: all 1.5s;
    background-color: $ui-transparent-white-2;
    margin: 1em;
    padding: 1em;
    box-shadow: 5px 10px 14px #888888;

    @media (max-width: $mobile) {
      width: 320px;
    }
  }
  .outer-panel:hover {
    transform: scale(1.01);
  }

  /* ----- Top panel ----- */
  .top-panel {
    // padding: 0 1em 1em 1em;
    /*----- close button styles -----*/
    .close-button {
      display: inline-block;
      position: relative;
      left: 303px;
      bottom: 44px;
      padding: 0 5px;
      // background-color: $ui-transparent-white-2;
      width: fit-content;
      font-size: 2rem;

      span:hover {
        color: $ui-gray;
      }
    }

    @media (max-width: $mobile) {
      .close-button {
        left: 280px;
      }
    }
  }
}

.side-panel-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/*----- panel toggle classes -----*/
.container-open {
  left: 10px;
  transition: left 2s ease;
}

.container-closed {
  left: -340px;
  transition: left 2s ease;
  @media (max-width: $mobile) {
    left: -310px;
  }
}
/* ----- Inner Panel styles ----- */
.panel-label {
  color: $ui-black;
  display: block;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;

  span {
    display: inline-block;
    padding: 0 10px;
  }
}

.panel-label:after {
  content: "";
  bottom: 0;
  height: 1px;
  background-color: $ui-gray;
  left: 0;
  right: 0;
  position: absolute;
}

.label-large {
  font-size: 18px;
}

.slider-title {
  font-family: "Archivo Narrow", sans-serif;
  margin-top: 20px;
  font-size: 1rem;
}

/*----- Year dropdown selector styles-----*/
.year-selector {
  display: block;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: inherit;
  padding: 0.2em 1.4em 0.2em 0.2em;
  margin: 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  /* The down arrow */
  background-image: url("https://nca-toolkit.s3-us-west-2.amazonaws.com/down_arrow.svg");
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
  option {
    font-weight: normal;
    font-size: 0.8rem;
  }
}
/* Hide arrow icon in IE browsers */
.year-selector::-ms-expand {
  display: none;
}
/* Hover style */
.year-selector:hover {
  border-color: $ui-gray;
}
/* Focus style */
.year-selector:focus {
  outline: none;
}

.last-panel {
  margin-bottom: 60px !important;
}