@import "./components/theme.scss";

html,
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: $font-size-base;
  scroll-behavior: smooth;
  @media ($desktop) {
    font-size: $desktop-font-size-base;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: $font-size-h1;
  color: $ui-black;
  display: inline-block; //tim's add
  @media (min-width: $desktop) {
    font-size: $desktop-font-size-h1;
  }
}

h3 {
  font-size: $font-size-h3;
  display: inline-block; //tim's add
  @media (min-width: $desktop) {
    font-size: $desktop-font-size-h3;
  }
}

h5 {
  font-size: $font-size-h5;
  display: inline-block; //tims add
  @media (min-width: $desktop) {
    font-size: $desktop-font-size-h5;
  }
}

/* set max width for images
so they are never wider than page*/
img {
  max-width: 100%;
}

ul {
  padding-left: 1.1rem;
}

// li {
//   list-style-type: none;
// }

a {
  text-decoration: none;
}

////chrome fixes
// html,
// body {
//   overflow: hidden;
//   height: 100%;
// }
