@import "../../theme.scss";

/* ----- Map Container styles ----- */
.map-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  outline: none;
}

.map {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

// title
.title {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  white-space: nowrap;
  font-weight: bold;
  padding: 5px;
  width: 710px;
  z-index: 1;
  background-color: $ui-transparent-white-2;
  box-shadow: 5px 10px 16px #888888;

  @media (max-width: $desktop) {
    font-size: 18px;
    width: 340px;
  }
}
