@import "../../theme.scss";

/* ----- Side panel styles ----- */
.side-panel-container {
  grid-column: 1;
  grid-row: 1 / span 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  width: 350px;
  margin: 30px 0 20px 0;
  overflow-y: scroll;
  //just need to set a max height to get overflow
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* ----- Outer panel item styles ----- */
  div {
    flex: 1;
    border: 1px solid black;
    transition: all 1.5s;
    background-color: $ui-transparent-white;
    margin: 1em;
    padding: 1em;
  }
  div:hover {
    transform: scale(1.1);
  }
}

.side-panel-container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* ----- Inner Panel styles ----- */
.panel-label {
  color: $ui-black;
  display: block;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 13px;
  margin-bottom: 0.5em;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
}

.panel-label:after {
  content: "";
  bottom: 0;
  height: 1px;
  background-color: $ui-gray;
  left: 0;
  right: 0;
  position: absolute;
}
