@import "../../theme.scss";

/* ----- Side panel styles ----- */
.side-panel-container {
  //grid positioning
  // grid-column: 1;
  // grid-row: 1 / span 3;
  // position: relative;
  ///////////////////

  //absolute positioning
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  width: 375px;
  margin: 35px 0 20px 0;
  //just need to set a max height to get overflow
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* ----- Outer panel item styles ----- */
  .outer-panel {
    flex: 1;
    transition: all 1.5s;
    background-color: $ui-transparent-white;
    margin: 1em 2em 1em 1em;
    padding: 1em;
    // border: 1px solid black;
    box-shadow: 5px 10px 18px #888888;
  }
  .outer-panel:hover {
    transform: scale(1.01);
  }

  /* ----- T0p panel ----- */
  .top-panel {
    // padding: 0 1em 1em 1em;
    /*----- close button styles -----*/
    .close-button {
      position: relative;
      left: 303px;
      bottom: 0px;
      padding: 0 5px;
      background-color: $ui-transparent-white;
      width: fit-content;
      font-size: 2rem;

      span:hover {
        color: $ui-gray;
      }
    }
  }
}

.side-panel-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/*----- panel toggle classes -----*/
.container-open {
  left: 10px;
  transition: left 2s ease;
}

.container-closed {
  left: -340px;
  transition: left 2s ease;
}
/* ----- Inner Panel styles ----- */
.panel-label {
  color: $ui-black;
  display: block;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 12px;
  margin-bottom: 0.5em;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
}

.panel-label:after {
  content: "";
  bottom: 0;
  height: 1px;
  background-color: $ui-gray;
  left: 0;
  right: 0;
  position: absolute;
}

.label-large {
  font-size: 18px;
}

/*----- Year dropdown selector styles-----*/
.year-selector {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
}

/*----- Geocoder styles -----*/
// .search-bar {
//   width: 100%;
// }

// input[type="text"] {
//   width: 80%;
//   padding: 12px 20px;
//   box-sizing: inherit;
//   border: none;
//   -webkit-transition: 0.2s;
//   transition: 0.2s;
//   outline: none;
// }

// .search-form {
//   display: flex;
//   height: 50px;
//   width: 100%;
//   border: 2px solid $ui-dark-gray;
// }

// .search-form:focus-within {
//   border: 3px solid$ui-dark-gray;
// }

// //search button
// .search-button {
//   box-sizing: inherit;
//   width: 20%;
//   height: 100%;
//   background: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;

//   img {
//     height: 40px;
//     width: 40px;
//     border: none;
//   }
// }

// .clear-button {
//   box-sizing: inherit;
//   padding-left: 5px;
//   width: 10%;
//   height: 100%;
//   background: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   font-size: 35px;
//   color: $ui-dark-gray;
// }
