@import "../../theme.scss";

/* ----- Backgroung image style ----- */
.bg-image {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100vh - 56px);
  z-index: -1;
  -o-object-fit: cover;
  font-family: "object-fit:cover";
  object-fit: cover;
}

.bg-gradient {
  position: fixed; //this may need to change;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}

/* ----- CSS Transition ----- */
.bg-enter {
  opacity: 0.1;
  transition: opacity 300ms ease-in-out;
}
.bg-enter-active {
  opacity: 1;
}

.bg-enter-done {
  opacity: 1;
}

.bg-exit {
  opacity: 0.1; // was 1
}
.bg-exit-active {
  opacity: 0.1;
}
.bg-exit-done {
  opacity: 0.1;
  transition: opacity 300ms ease-in-out;
}

.bg-appear,
.bg-appear-done {
  opacity: 1;
}

/* ----- Content container ----- */
.outer-content-container {
  position: absolute;
  top: 56px;
  bottom: 0;
  right: 0;
  left: 0;
}

.content-container {
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  outline: none;
}

/* ----- Content section ----- */
.content-section {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.content {
  font-size: $font-size-large;

  @media (min-width: $largest-desktop) and (max-height: $largest-landscape-height) {
    font-size: $font-size-base;
  }

  @media (max-width: $largest-desktop) and (max-height: $largest-landscape-height) {
    font-size: $font-size-base;
  }

  @media (max-width: $large-desktop) and (min-height: $largest-landscape-height) {
    font-size: $font-size-medium;
  }

  @media (max-width: $large-desktop) and (max-height: $largest-landscape-height) {
    font-size: $font-size-small;
  }

  @media (max-width: $desktop) {
    font-size: $font-size-base;
  }

  @media (max-width: $mobile) {
    font-size: $font-size-small;
  }

  @media (max-height: $landscape-height) {
    font-size: $font-size-smallest;
  }
}

.container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile), (max-height: $large-landscape-height) {
    margin: 0 auto;
    width: 98%;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-left: 0.75rem;
    text-transform: uppercase;
    max-width: 1000px;
    span {
      background-color: $ui-transparent-white;
      box-shadow: 15px 0 0 $ui-transparent-white,
        -10px 0 0 $ui-transparent-white;
    }
    @media (max-width: $desktop) {
      font-size: 2rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.5rem;
    }
    @media (max-height: 600px) {
      font-size: 1.3rem;
    }
  }

  img {
    opacity: 1;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

/* ----- one column slide style ----- */
.one-col {
  display: flex;
  width: fit-content;
  max-width: 40rem;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: space-between;
  p,
  span,
  li {
    background-color: $ui-transparent-white;
    box-shadow: 15px 0 0 $ui-transparent-white, -10px 0 0 $ui-transparent-white;
    padding: 2px 0;
    width: fit-content;
    width: -moz-fit-content;
    line-height: 1.6;
  }
  li {
    margin: 2px;
    list-style-type: none;
  }
}

.pie-chart {
  background-color: $ui-transparent-white;
  img {
    display: block;
  }
}

.inner-image {
  max-width: 90%;
}

summary {
  cursor: pointer;
}

@media (max-width: $mobile) {
  .font-adjust > div > .content {
    font-size: $font-size-small;
  }
}

@media (max-width: $mobile) {
  .fit-text {
    font-size: $font-size-smaller;
  }
}

/* ----- two column slide style ----- */
.two-col {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: $ui-transparent-white;
  padding: 1rem 1rem;
  margin: 1rem 0 0 0;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    justify-items: center;
    align-items: center;
  }

  @media (max-height: $landscape-height) {
    padding: 0;
  }
  div {
    margin-right: 5px;
    div {
      padding: 0.5rem;
    }
  }

  img {
    max-height: 30vh;
    @media (max-width: $desktop) {
      margin: 0 auto;
    }
    @media (max-height: $largest-landscape-height) and (max-width: $desktop) {
      display: none;
    }
  }
}

/*----- additional style for extending tow-col -----*/
.half-size {
  grid-template-columns: 1fr;
  max-width: 700px;
}

/* ----- image compare style ----- */
.two-col-compare-images {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: $ui-transparent-white;
  padding: 1rem 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 350px 1fr;
  }

  div {
    margin-right: 5px;
    font-size: $font-size-small;
    line-height: 1.4;
    max-height: 50vh;

    @media (max-width: $desktop) {
      font-size: $font-size-smaller;
    }

    @media (max-width: $mobile) {
      font-size: $font-size-smallest;
    }

    @media (max-height: 700px) {
      font-size: $font-size-smallest;
    }
  }

  div > p > a,
  div > p > strong > a {
    color: $ui-link;
  }

  div > p > a:hover,
  div > p > strong > a:hover {
    color: $ui-link-light;
    text-decoration: underline;
  }

  details {
    @media (max-width: $mobile) {
      margin-bottom: 10px;
    }

    @media (min-width: $desktop) {
      z-index: 4;
    }
  }

  @media (max-height: $landscape-height) {
    .compare-image-container {
      height: 40vh;
    }

    .compare-image-container > div {
      max-height: 100%;
    }
  }
}
.compare-image-title {
  font-size: 1.3rem !important;
  font-weight: 600;
  text-align: center;

  @media (max-width: $large-desktop) {
    font-size: 1.1rem !important;
  }
}
/* ----- single video style ----- */
.single-video {
  @media (min-width: $desktop) {
    grid-template-columns: 1fr;
  }
}

video {
  max-height: 40vh !important;
}

/* ----- bottom container style ----- */

.bottom-container {
  position: relative;
  margin: 0 1rem;
  bottom: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 90%;

  @media (max-width: $mobile) {
    bottom: 56px;
  }
  @media (max-height: $landscape-height) {
    display: none;
  }
}

/* ----- scroll button style ----- */
.scroll-down {
  color: rgba(255, 255, 255, 0.7);
  font-size: $font-size-large;
  z-index: 3;
  cursor: pointer;

  @media (max-width: $mobile) {
    font-size: $font-size-base;
  }
}

.scroll-down:hover {
  color: rgba(255, 255, 255, 1);
}

/* ----- Bottom right corner logo style----- */
.nca-logo {
  max-width: 55px;
  @media (max-width: $mobile) {
    max-width: 40px;
  }
}

/*----- last slide links -----*/
.slide-link {
  text-decoration: underline;
  text-transform: uppercase;
  color: $ui-link;
}

.slide-link:hover {
  color: $ui-link-light;
}
