@import "../../theme.scss";

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
  font-family: "object-fit:cover";
  object-fit: cover;
}
///////////////////////////////////////

.bg-enter {
  opacity: 0.1;
  transition: opacity 300ms ease-in-out;
}
.bg-enter-active {
  opacity: 1;
}

.bg-enter-done {
  opacity: 1;
}

.bg-exit {
  opacity: 0.1; // was 1
}
.bg-exit-active {
  opacity: 0.1;
}
.bg-exit-done {
  opacity: 0.1;
  transition: opacity 300ms ease-in-out;
}
///////////////////////////////////////////@extend
// .bg-enter {
//   opacity: 1;
//   transition: opacity 1.8s ease-in-out;
// }
// .bg-enter-active {
//   opacity: 0;
// }

// .bg-enter-done {
//   opacity: 0;
// }

// .bg-exit {
//   opacity: 0;
//   transition: opacity 1.8s ease-in-out;
// }
// .bg-exit-active {
//   opacity: 1;
// }
// .bg-exit-done {
//   opacity: 1;
// }
////////////////////////////////////////////////////////
.bg-appear,
.bg-appear-done {
  opacity: 1;
}
////////////////////////////////////////////////////////

.bg-gradient {
  position: fixed; //this may need to change;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}

// Content styles below
.content-container {
  position: relative;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  z-index: 1;
  overflow-y: scroll;
}

.content-section {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0 2rem;
  //tims add
  // height: 100%;
  // display: flex;
  // flex-direction: column;

  h1 {
    line-height: 1.2;
    margin-left: 0.75rem;
    text-transform: uppercase;
    span {
      background-color: $ui-transparent-white;
      box-shadow: 15px 0 0 $ui-transparent-white,
        -10px 0 0 $ui-transparent-white;
    }
  }

  // p {
  //   max-width: 50rem;
  //   width: fit-content;
  // }

  img {
    opacity: 1;
  }
}

//slide styles
.one-col {
  display: flex;
  width: fit-content;
  // background-color: $ui-transparent-white;
  max-width: 40rem;
  padding: 0 1rem;
  //tim's additons
  // height: 100%;
  // flex-direction: column;
  // justify-content: space-between;
  p,
  span,
  li {
    background-color: $ui-transparent-white;
    box-shadow: 15px 0 0 $ui-transparent-white, -10px 0 0 $ui-transparent-white;
    padding: 2px 0;
    width: fit-content;
    line-height: 1.6;
  }
}

.two-col {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: $ui-transparent-white;
  padding: 0 1rem;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.scroll-down {
  // display: inline;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  bottom: 60px;
  margin: 0 2rem;
  font-size: 1.4rem;
  z-index: 3;
}

.scroll-down:hover {
  color: rgba(255, 255, 255, 1);
  
}
