@import "../../theme.scss";

/* ----- footer  styles ----- */
footer {
  display: flex;
  align-items: center;
  background-color: $ui-black;
  height: 56px;
  color: $ui-white;
  font-size: 0.8rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  div {
    padding: 0 5px;
  }

  div:nth-child(2) {
    flex: 1;
  }

  div:nth-child(4) {
    cursor: pointer;
  }

  div:last-child > a > img {
    max-width: 200px;
    cursor: pointer;
  }
  @media (max-width: $desktop) {
    div:nth-child(n + 3) {
      display: none;
    }
  }
}

/*----- specific footer styles -----*/
.slides-footer {
  background-color: $ui-black;
  z-index: 6;
  width: 100%;
  position: relative;
  bottom: 56px;
  left: 0px;
}

.take-action-footer {
  background-color: $ui-black;
  z-index: 6;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
