/* ------- colors ------- */
$ui-black: #000000;
$ui-white: #ffffff;

/* ------- breakpoints ------- */
$mobile: (
  max-width: 600px,
);
$desktop: (
  min-width: 768px,
);

/* ------- typography ------- */
$font-size-base: 16px;
$font-size-h1: 34px;
$font-size-h3: 20px;
$font-size-h5: 16px;

@media ($desktop) {
  $font-size-base: 18px;
  $font-size-h1: 51px;
  $font-size-h3: 48px;
  $font-size-h5: 36px;
}
