/* ------- colors ------- */
$ui-black: #000000;
$ui-white: #ffffff;
$ui-transparent-white: rgba(255, 255, 255, 0.6);

/* ------- breakpoints ------- */
$mobile-small: 400px;
$mobile: 600px;
$desktop: 768px;

/* ------- typography ------- */
$font-size-smallest: 10px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-h1: 34px;
$font-size-h3: 20px;
$font-size-h5: 16px;

$desktop-font-size-base: 18px;
$desktop-font-size-h1: 51px;
$desktop-font-size-h3: 48px;
$desktop-font-size-h5: 36px;

/*---------exports----------*/
:export {
  uiBlack: $ui-black;
  uiWhite: $ui-white;
}
