@import "../../theme.scss";

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 700;
  background-color: $ui-transparent-dark;
}

.modal-content {
  margin: 0 0 10px 0;
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid $ui-black;
  background-clip: padding-box;
  background-color: $ui-white;
  width: 95%;
  max-width: 1000px;
  max-height: 95%;
  overflow-y: auto;
}

.modal-close {
  background-color: $ui-white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  font-size: 2rem;
  text-align: right;

  a {
    cursor: pointer;
  }

  @media (min-width: $desktop) {
    right: 15px;
    top: 0px;
  }
}
